.property {
//  border-top:1px solid #b2b2b2;
  font-size: .8em;
  line-height: 30px;
  margin-left: 22px;
  padding-left: 22px;
}

.attrib {
//  border-top:1px solid #cecece;
  padding-top: 3px;
}

.inputWrapper {
  $margin: 5px;
  $btnArwW: 20px;
  &.outer {
    @include border-radius(3px);
//    background: $colorInput;
    border: 1px solid #ccc;
		border-bottom-color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 100%;
    margin-left: 5px;
    //padding: 5px;
    position: relative;
    vertical-align: middle;
    width: 70%;
    .btnArw {
      position: absolute;
      height: auto; width: $btnArwW;
      top: $margin; right: $margin; bottom: $margin; left: auto;
    }
  }
  
  &.inner {
    //background: #ff6600;
    position: absolute;
    top: $margin; right: $btnArwW + ($margin * 2); bottom: $margin; left: $margin;
    input {
//      background: #ddffdd;
			background: none;
      border:none;
      height: 100%; width: 100%;
      padding: 0;
      .hint {
        color: #666;
        font-style: italic;
      }
    }
  }
}


