.property {
  border-top:1px solid #b2b2b2;
  font-size: .8em;
  //background-color: red;
  line-height: 30px;
  margin-left: 22px;
  padding-left: 22px;
}

.attrib {
  border-top:1px solid #cecece;
  line-height: 30px;
  padding-top: 3px;
}

.autoSuggest {
  background: white;
  border: 1px solid #ccc;
  display: inline-block;
  line-height: 100%;
  margin-left: 5px;
  padding: 10px;
  position: relative;
  width: 70%;
}


