body.loading {
  background: #000 url('../images/bg-loading-saturn.jpg') no-repeat;
  background-size: cover;
  color: #999;
  h1 {
    color: #fff;
    font-weight: normal;
  }
  #holder-logos {
    $margin: 20px;
    position: absolute;
    right: $margin; top: $margin;
    .logo {
      position: absolute;
      &#logo-nasa {
        right: 0;
        top: 2px;
      }
      &#logo-lace {
        height: 80px;
        right: 95px;
      }
    }
  }
}